langchain 
langchain-openai 
langchain-text-splitters

pandas 
numpy
python-dotenv

pinecone-client 
langchain-pinecone
unstructured 
openpyxl 

#unstructured[pdf,all-docs]
#unstructured[local-inference]
#unstructured-inference
#pillow 
#pydantic
#pdfminer.six
#pi-heif


#New library#
pymupdf 
pillow
streamlit
