# PDF Processing
PyMuPDF
tabula-py
pypdf 

# PPTx Processing
python-pptx

# Excel processing
openpyxl

# Word processing
python-docx

# Vector Search
faiss-cpu

# Utilities
pandas
numpy
tqdm
requests
python-dotenv

# Langchain
langchain
langchain-core
langgraph
langchain-openai
langchain-anthropic
langchain-text-splitters
langchain-pinecone

# Vector DB
chromadb
#pinecone

# App
streamlit

unstructured[pdf] 
poppler-utils 
tesseract-ocr
unstructured[local-inference]
unstructured[pdf,all-docs]
unstructured-inference

#New library#
pymupdf 
pillow
streamlit
TextLoader